@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

@keyframes move-bar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60px);
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes circle-around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
