@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

@keyframes pulse {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes pulse-reversal {
  0% {
    transform: scaleX(-1) translate(0);
  }
  50% {
    transform: scaleX(-1) translateY(10px);
  }
  100% {
    transform: scaleX(-1) translate(0);
  }
}

@keyframes move-bar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60px);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes circle-around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale-zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    transform-origin: center center 0;
  }
  100% {
    opacity: 1;
  }
}
