.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// pulse
@keyframes pulse {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translate(0);
  }
}
