$primaryColor: #b18b59;
$primaryColor2: #d9a969;

$primaryTextColor: #212529;
$primaryTextColor2: #999999;

$linkTextColor: #59c9e9;

$primaryBgColor: #252931;
$primaryBgColor2: #1f2229;

$setTransition: all 0.4s ease;
$setTransition2: 0.3s ease;
