$primaryColor: #b18b59;
$primaryColor2: #d9a969;

$primaryTextColor: #212529;
$primaryTextColor2: #999999;

$borderColor: #3e3e3e;

$linkTextColor: #59c9e9;

$primaryBgColor: #0f141c;
$primaryBgColor2: #171b22;

$setTransition: all 0.4s ease;
$setTransition2: 0.3s ease;
