@import "bootstrap/scss/bootstrap-grid.scss";

// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';

// @import '~bootstrap/scss/nav';
// @import '~bootstrap/scss/bootstrap-grid';

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", "Microsoft JhengHei", Arial, Helvetica,
    sans-serif;
  // font-family: 'Rubik', Helvetica, Arial, sans-serif;
  // font-family: 'Roboto', Helvetica, Arial, sans-serif;
  // font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  background: $primaryBgColor;
  &.no-scroll {
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
    user-select: none; // 禁止選取
    -webkit-user-select: none;
    -moz-user-select: none;
  }
}

a {
  display: inline-block;
  background-color: none;
  border: none;
  color: $primaryTextColor;
  outline: 0;
  text-decoration: none;
  transition: $setTransition;
}

button {
  border: none;
  outline: 0;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  li {
    line-height: 1.6;
  }
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  // object-fit: cover;
  // image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

section {
  padding: 150px 0;
  overflow: visible; // because of use sticky
}

// scrollbar
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: $borderColor;
  background-clip: content-box;
  &:hover {
    background: lighten($borderColor, 10%);
  }
}
::-webkit-scrollbar-track {
  background-color: #0f141c;
}

// preloader
body {
  // overflow: hidden; // 讀取時不要有捲軸
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    background: transparent;
    mask-image: url("@/assets/images/circular-mask.svg");
    -webkit-mask-image: url("@/assets/images/circular-mask.svg");
    mask-size: 300vmax 500vmax; // 控制遮罩大小
    mask-position: center;
    mask-repeat: no-repeat;
    transition: mask-size 800ms ease;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      // background: rgba(255, 255, 255, 1);
      opacity: 1;
      z-index: 1;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition:
        transform 800ms ease,
        width 800ms ease,
        height 800ms ease,
        opacity 800ms ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(15, 20, 28, 1);
      z-index: 0;
      opacity: 1;
      // transition: opacity 800ms ease;
    }
    .logo {
      font-size: 28px;
      line-height: 35px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      z-index: 2;
      span.special {
        color: $primaryColor;
        position: relative;
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          position: absolute;
          left: 152px;
          bottom: 23px;
          border-radius: 50%;
          background: $primaryColor;
          box-sizing: border-box;
          animation: ani-loader 1s ease-in infinite;
        }
      }
    }
    .text {
      z-index: 2;
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      opacity: 0.2;
      margin-top: 5px;
      letter-spacing: 1px;
      animation: flashing 1s ease-in infinite;
    }

    &.active {
      mask-size: 0px 0px; // 控制遮罩大小
      // &::before {
      //   // width: 300vmax;
      //   // height: 300vmax;
      //   // transform: translate(-50%, -50%) scale(1);
      //   // opacity: 0;
      // }
      // &::after {
      //   opacity: 0;
      // }
      // .logo {
      //   opacity: 0;
      // }
      // .text {
      //   display: none;
      //   opacity: 0;
      // }
    }
  }
}
