section#about {
  // background: $primaryBgColor;
  background-image: url("@/assets/images/texture-bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  & > .container {
    & > .row {
      margin-top: 80px;
      .vertical-align {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .profile-img {
        position: relative;
        padding: 30px;
        border: $borderColor;
        border-radius: 50%;
        .img {
          border-radius: 50%;
          width: 350px;
          height: 350px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .info {
        margin: 0 20px;
        text-align: left;
        .code-wrapper {
          margin: 40px 0;
          padding: 15px;
          background: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(15px);
          border-radius: 8px;
          .code-row {
            font-size: 18px;
            margin: 5px;
            font-family: serif;
            font-family: "Roboto", sans-serif;
          }
          i {
            color: #ff6366;
            font-style: normal;
          }
          span {
            font-size: 18px;
            margin: 3px;
            color: #a8a8a8;
          }
        }
        h4 {
          font-size: 26px;
          font-weight: 00;
          margin: 0 0 30px;
          padding: 0 15px;
          font-family: "Microsoft JhengHei", sans-serif;
        }
        p {
          font-size: 16px;
          font-family: "Microsoft JhengHei", sans-serif;
          padding: 0 15px;
          line-height: 1.8;
        }
        .slogan-wrapper {
          margin: 40px 0;
          padding: 20px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          background-color: #181c22;
          h6.slogan {
            font-size: 20px;
            font-weight: 600;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span.iconify {
              width: 60px;
              height: 60px;
              color: rgba(255, 255, 255, 0.2);
              margin-right: 5px;
            }
          }
          figure {
            margin: 0 10px 0 0;
            text-align: right;
            img {
              width: 175px;
              margin-top: -10px;
              transform: rotate(-6deg);
            }
          }
        }
      }

      .features {
        margin: 50px 0;
        .feature-item {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          h6 {
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span.iconify {
              color: $primaryColor;
              margin-right: 8px;
            }
          }
        }
      }
      .contacts {
        margin-top: 20px;
        position: relative;
        border: $borderColor;
        padding: 30px 40px;
        border-radius: 10px;
        .contact-item {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .icon {
          width: 42px;
          height: 42px;
          background: $primaryColor;
          color: $primaryTextColor;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          span.iconify {
            width: 20px;
            height: 20px;
          }
        }
        .text {
          margin-left: 12px;
          span {
            font-size: 13px;
            display: inline-block;
            margin-bottom: 7px;
            opacity: 0.5;
          }
          h6 {
            font-size: 16px;
            margin: 0;
          }
        }
      }
    }
  }
}
