button.btn {
  position: relative;
  overflow: hidden;
  padding: 15px 35px;
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid $primaryColor;
  background: $primaryColor;
  border-radius: 10px;
  z-index: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    color: $primaryColor;
    border: 1px solid $primaryColor;
    background: transparent;
    &::before {
      opacity: 1;
      transform: skewX(-33deg) scaleX(0);
    }
  }
  &::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: $primaryColor none repeat scroll 0 0;
    transform: skewX(-33deg) scaleX(1.2);
    transition: all 0.3s ease;
  }
  // outline
  &.btn-outline {
    color: $primaryColor;
    border: 1px solid $primaryColor;
    background: transparent;
    &:hover {
      color: #ffffff;
      background: transparent;
      &::before {
        opacity: 1;
        transform: skewX(-33deg) scaleX(1.2);
      }
    }
    &::before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: $primaryColor none repeat scroll 0 0;
      transform: skewX(-33deg) scaleX(0);
      transition: all 0.3s ease;
    }
  }

  span.iconify {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
