section#contact {
  background: $primaryBgColor;
  .item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px;
    border-radius: 10px;
    background: $primaryBgColor;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      z-index: 1;
      background: linear-gradient(
        140deg,
        rgba(255, 255, 255, 0.24),
        rgba(255, 255, 255, 0.04)
      );
      opacity: 0.3;
      pointer-events: none;
    }
    span.iconify {
      width: 36px;
      height: 36px;
      margin-right: 8px;
      color: $primaryColor;
    }
    h6 {
      font-size: 16px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      margin-left: 16px;
      color: $primaryTextColor2;
    }
    p {
      margin-left: auto;
      font-size: 16px;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
    }
  }

  .form-group {
    position: relative;
    margin-bottom: 30px;
    label {
      display: inline-block;
      padding: 5px 10px;
      background: $primaryBgColor;
      position: absolute;
      top: -12px;
      left: 18px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    input {
      width: 100%;
      border: 1px solid $borderColor;
      border-radius: 10px;
      background: transparent;
      color: #fff;
      padding: 20px;
      transition: $setTransition;
      &:focus {
        outline: none;
      }
    }
    textarea {
      min-height: 180px;
      width: 100% !important;
      border: 1px solid $borderColor;
      border-radius: 10px;
      background: transparent;
      color: #fff;
      padding: 20px;
      transition: $setTransition;
      &:focus {
        outline: none;
      }
    }
  }
}
