section#contact {
  background: $primaryBgColor;
  @include medium {
    padding: 120px 0;
  }
  @include small {
    padding: 120px 0;
  }
  @include extraSmall {
    padding: 80px 0;
  }
  .item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px;
    border-radius: 10px;
    background: $primaryBgColor;
    margin-bottom: 30px;
    @include large {
      padding: 28px 15px;
      margin-bottom: 22px;
    }
    @include medium {
      padding: 15px 22px;
      margin-bottom: 12px;
    }
    @include small {
      margin-bottom: 12px;
    }
    @include extraSmall {
      padding: 12px 12px;
      margin-bottom: 12px;
    }
    &:last-child {
      margin-bottom: 0;
      @include medium {
        margin-bottom: 50px;
      }
      @include small {
        margin-bottom: 50px;
      }
      @include extraSmall {
        margin-bottom: 50px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      z-index: 1;
      background: linear-gradient(
        140deg,
        rgba(255, 255, 255, 0.24),
        rgba(177, 139, 89, 0.45)
      );
      opacity: 0.3;
      pointer-events: none;
    }
    .icon {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span.iconify {
        width: 36px;
        height: 36px;
        color: $primaryColor;
        @include large {
          width: 30px;
          height: 30px;
        }
      }
      h6 {
        font-size: 16px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        margin-left: 16px;
        color: $primaryTextColor2;
        @include large {
          font-size: 13px;
          margin-left: 8px;
        }
        @include extraSmall {
          display: none;
        }
      }
    }
    p {
      color: $primaryTextColor2;
      font-size: 16px;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      @include large {
        font-size: 14px;
      }
      @include extraSmall {
        font-size: 14px;
      }
    }
    a {
      color: $primaryTextColor2;
      font-size: 16px;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      transition: $setTransition;
      @include large {
        font-size: 14px;
      }
      @include extraSmall {
        font-size: 14px;
      }
      &:hover {
        color: $primaryColor;
      }
    }
  }

  :deep(form.el-form) {
    padding-right: 10px;
    @include medium {
      padding-right: 0;
    }
    @include small {
      padding-right: 0;
    }
    @include extraSmall {
      padding-right: 0;
    }
    .el-form-item {
      position: relative;
      margin-bottom: 48px;
      @include medium {
        margin-bottom: 40px;
      }
      @include small {
        margin-bottom: 38px;
      }
      @include extraSmall {
        margin-bottom: 38px;
      }
      &.last-item {
        margin-bottom: 0;
      }
    }

    .el-form-item__label {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      color: #fff;
      background: $primaryBgColor;
      // background-image: url("@/assets/images/texture-bg3.jpg");
      position: absolute;
      top: -12px;
      left: 18px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      height: max-content;
      line-height: 1.6;
      z-index: 1;
      @include small {
        font-size: 13px;
        top: -13px;
      }
      @include extraSmall {
        font-size: 13px;
        top: -13px;
      }
      &::before {
        font-size: 16px;
        height: 20px;
      }
    }
    .el-form-item__content {
      justify-content: space-between;
      line-height: 1.6;
      .el-input {
        line-height: 1.6;
      }
      .el-input__wrapper {
        transform: none;
        padding: 0;
        border-radius: 10px;
        background-color: transparent;
        box-shadow: none;
        .el-input__inner {
          width: 100%;
          height: fit-content;
          line-height: 1.6;
          border: 1px solid $borderColor;
          border-radius: 10px;
          background: transparent;
          box-shadow: none;
          color: #fff;
          padding: 18px 20px;
          font-size: 15px;
          transition: $setTransition;
          &:focus {
            outline: none;
            border-color: $primaryColor;
          }
        }
      }
      .el-textarea {
        transform: none;
        padding: 0;
        border-radius: 10px;
        background-color: transparent;
        box-shadow: none;
        .el-textarea__inner {
          min-height: 195px !important;
          width: 100% !important;
          border: 1px solid $borderColor;
          border-radius: 10px;
          background: transparent;
          color: #fff;
          padding: 20px;
          box-shadow: none;
          font-size: 15px;
          transition: $setTransition;
          &:focus {
            outline: none;
            border-color: $primaryColor;
          }
        }
      }
      button.btn {
        &.btn-submit {
          width: 63%;
          @include large {
            width: 62%;
          }
          @include medium {
            width: 63%;
          }
          @include small {
            width: 60%;
          }
          @include extraSmall {
            width: 100%;
          }
          &.loading {
            background-color: darken($primaryColor, 20%);
            border: 1px solid darken($primaryColor, 20%);
            pointer-events: none;
            &:hover {
              background-color: darken($primaryColor, 20%);
              border: 1px solid darken($primaryColor, 20%);
            }
          }
        }
        &.btn-reset {
          width: 35%;
          @include large {
            width: 34%;
          }
          @include medium {
            width: 35%;
          }
          @include small {
            width: 37%;
          }
          @include extraSmall {
            width: 100%;
            margin-top: 15px;
          }
        }
        + .el-button {
          margin-left: 0;
        }
        // &:last-child {
        //   margin-left: 4%;
        //   @include small {
        //     margin-left: 2%;
        //   }
        //   @include extraSmall {
        //     margin-left: 2%;
        //   }
        // }
        span.iconify {
          width: 30px;
          height: 30px;
          margin-right: 0;
        }
      }
    }

    .el-form-item__error {
      padding-top: 8px;
      padding-left: 8px;
      font-size: 14px;
    }
  }
}
