#home {
  position: relative;
  width: 100%;
  background: url("@/assets/images/hero-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .bg-overlay {
    background-color: rgba(36, 37, 41, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }
  .intro-wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-hero {
      height: 100vh;
      display: flex;
    }
    .intro-heading {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      // max-width: 700px;
      margin-right: 100px;
      h4 {
        color: $primaryColor;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 10px;
        padding-left: 5px;
      }
      h1 {
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2;
        font-family: "Montserrat", sans-serif;
        text-align: left;
        margin-top: 0;
      }
      ul.list-btn {
        width: 500px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li.list-item {
          display: inline-block;
        }
        a.btn {
          padding: 16px 48px;
          margin-top: -10px;
          text-transform: capitalize;
          font-weight: 600;
          font-size: 14px;
          font-family: "Montserrat", sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $primaryColor;
          border: 1px solid $primaryColor;
          &.btn-primary {
            color: $primaryTextColor;
            background-color: $primaryColor;
            border-color: $primaryColor;
          }
          span.iconify {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }
        }
      }
    }
    .intro-photo {
      position: relative;
      .intro-grid {
        background-image: url("@/assets/images/dot-light.png");
        position: absolute;
        opacity: 1;
        top: 20%;
        right: 13px;
        bottom: 0;
        left: -70px;
      }
      figure {
        margin-bottom: 8px;
        &::before {
          content: "";
          position: absolute;
          background-image: url("@/assets/images/ornament.png");
          background-repeat: no-repeat;
          width: 240px;
          height: 230px;
          bottom: -35px;
          right: -60px;
          z-index: 1;
        }
        &::after {
          content: "";
          position: absolute;
          background-image: url("@/assets/images/ornament1.png");
          background-repeat: no-repeat;
          width: 50px;
          height: 70px;
          top: 0;
          left: -60px;
          z-index: 1;
        }
        img {
          display: block;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
          position: relative;
          height: 430px;
          z-index: 2;
        }
      }
    }
    & > .container {
      display: flex;
      justify-content: center;
      align-content: inherit;
      & > .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}
