section#home {
  position: relative;
  padding: 0;
  width: 100%;
  background: url("@/assets/images/hero-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .bg-overlay {
    background-color: rgba(23, 27, 34, 0.9); // $primaryBgColor2
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }
  .intro-wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-hero {
      height: 100vh;
      display: flex;
    }
    .intro-heading {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      // max-width: 700px;
      margin-right: 100px;
      h4 {
        color: $primaryColor;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 10px;
        padding-left: 5px;
      }
      h1 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 58px;
        line-height: 1.2;
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        // font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
        // font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
        text-align: left;
        margin-top: 0;
        span {
          width: auto;
          display: inline-block;
        }
        span.and {
          -webkit-text-stroke: 2px #cecece;
          -webkit-text-fill-color: transparent;
          font-family: "Poppins", sans-serif;
          font-weight: 800;
          font-size: 52px;
          margin: 0 10px;
        }
      }
      h2 {
        opacity: 0.6;
        font-size: 32px;
        font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
        span.and {
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          -webkit-text-stroke: 1px #fff;
          -webkit-text-fill-color: transparent;
        }
      }
      .list-btn {
        width: 550px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item {
          display: flex;
          &:last-child {
            margin-left: 30px;
          }
        }
        button.btn {
          width: 300px;
        }
        // a.btn {
        //   padding: 16px 48px;
        //   margin-top: -10px;
        //   text-transform: capitalize;
        //   font-weight: 600;
        //   font-size: 14px;
        //   font-family: "Montserrat", sans-serif;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   color: $primaryColor;
        //   border: 1px solid $primaryColor;
        //   &.btn-primary {
        //     color: $primaryTextColor;
        //     background-color: $primaryColor;
        //     border-color: $primaryColor;
        //   }
        //   span.iconify {
        //     width: 24px;
        //     height: 24px;
        //     margin-right: 8px;
        //   }
        // }
      }
      img.ornament-drawn {
        width: 105px;
        height: auto;
        max-width: 100%;
        display: inline-block;
        position: absolute;
        bottom: -30px;
        right: -90px;
        opacity: 0.7;
        z-index: 3;
        animation: pulse 2s infinite;
      }
      img.ornament-arrow {
        width: 137px;
        height: auto;
        max-width: 100%;
        display: inline-block;
        position: absolute;
        bottom: -80px;
        left: 202px;
        animation: pulse 2s infinite;
      }
    }
    .intro-photo {
      position: relative;
      .intro-circle {
        border-radius: 50%;
        background-color: #27262b;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -35px;
        left: 348px;
        padding: 4px;
        z-index: 3;
        img {
          width: 100px;
          height: 100px;
          animation: circle-around 15s linear infinite;
        }
        .icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          background: $primaryColor;
          span.iconify {
            width: 18px;
            height: 18px;
          }
        }
      }
      .intro-grid {
        background-image: url("@/assets/images/dot-light.png");
        position: absolute;
        opacity: 1;
        top: 18%;
        right: 13px;
        bottom: 12px;
        left: -70px;
        width: 400px;
      }
      figure {
        margin-bottom: 8px;
        &::before {
          content: "";
          position: absolute;
          background-image: url("@/assets/images/ornament-circle.svg");
          background-repeat: no-repeat;
          width: 240px;
          height: 230px;
          bottom: -55px;
          right: -60px;
          z-index: 1;
        }
        &::after {
          content: "";
          position: absolute;
          background-image: url("@/assets/images/ornament-star.svg");
          background-repeat: no-repeat;
          width: 70px;
          height: 70px;
          left: 60px;
          top: 40px;
          z-index: 2;
          animation: zoom-in-out 2s ease-out infinite;
        }
        img {
          display: block;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
          position: relative;
          height: 430px;
          border-radius: 10px;
          z-index: 2;
        }
      }
    }
    & > .container {
      display: flex;
      justify-content: center;
      align-content: inherit;
      & > .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}
