.m-navbar {
  display: none;
  @include smallAndExtraSmall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgba(16, 18, 24, 0.9);
    backdrop-filter: blur(15px);
    height: 60px;
    button.m-navbar-brand {
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
      font-size: 28px;
      line-height: 35px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      padding: 0 0 0 2px;
      @include extraSmall {
        font-size: 6vmin;
      }
      span.special {
        color: $primaryColor;
      }
    }
    .m-toggle {
      float: right;
      width: 28px;
      cursor: pointer;
      position: relative;
      padding: 0;
      margin: 0 2px 0 0;
      will-change: transform; // 以避免在元素發生改變時出現卡頓或者閃爍等的問題。
      z-index: 9999;
      span {
        width: 100%;
        float: left;
        margin-bottom: 6px;
        height: 3px;
        background: $primaryColor;
        position: relative;
        overflow: hidden;
        z-index: 2;
        transform: rotate(0deg);
        transition: all 0.3s ease-in;
        top: 0;
        left: 0;
        &:nth-of-type(1) {
          transition: all 0.2s ease-in;
        }
        &:nth-of-type(3) {
          margin-bottom: 0;
          transition: all 0.2s ease-in;
        }
      }
      &.active {
        span {
          &:nth-of-type(1) {
            opacity: 0;
            float: right;
          }
          &:nth-of-type(2) {
            transform: rotate(45deg);
            top: 1px;
          }
          &:nth-of-type(3) {
            transform: rotate(-45deg);
            top: -8px;
            transition-delay: 0.1s;
          }
        }
      }
    }

    .m-navbar-collapse {
      display: none;
      &.open {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(16, 18, 24, 0.95);
        z-index: 9998;
      }
      ul.m-navbar-nav {
        position: relative;
        width: 100%;
        padding: 20% 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        top: 50%;
        height: 75%;
        transform: translateY(-50%);
        li.m-nav-item {
          text-align: center;
          width: 100%;
          padding: 15px 20px;
          opacity: 0;
          animation: fade-in-right 0.5s ease forwards;
          &:nth-of-type(1) {
            animation-delay: 0.1s;
          }
          &:nth-of-type(2) {
            animation-delay: 0.15s;
          }
          &:nth-of-type(3) {
            animation-delay: 0.2s;
          }
          &:nth-of-type(4) {
            animation-delay: 0.25s;
          }
          &:nth-of-type(5) {
            animation-delay: 0.3s;
          }
          &:nth-of-type(6) {
            animation-delay: 0.35s;
          }
          button.m-nav-link {
            color: #fff;
            font-size: 6.5vmin;
            &:active {
              color: $primaryColor2;
            }
          }
          &.active {
            button.m-nav-link {
              color: $primaryColor2;
              pointer-events: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
