.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  box-shadow: none;
  font-size: 14px;
  padding: 25px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  transition: $setTransition;
  // @include medium {
  //   display: none;
  // }
  @include small {
    display: none;
  }
  @include extraSmall {
    display: none;
  }
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.05);
    button.navbar-brand > span.special {
      color: $primaryColor;
    }
  }
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
button.navbar-brand {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  @include medium {
    font-size: 22px;
  }
  span.special {
    color: #fff;
  }
}
.navbar-collapse {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto;
    .nav-item {
      margin: 0 15px;
      @include medium {
        margin: 0 10px;
      }
      &.active {
        button.nav-link {
          color: $primaryColor2;
        }
      }
      button.nav-link {
        color: #fff;
        padding: 12px 8px;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        transition: $setTransition;
        @include medium {
          font-size: 14px;
          padding: 12px 5px;
        }
        &:hover {
          color: $primaryColor2;
        }
      }
    }
  }
}
