.navbar {
  box-shadow: none;
  font-size: 14px;
  padding: 20px 0;
  // position: relative;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  transition: $setTransition;
  z-index: 999;
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.05);
  }
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
a.navbar-brand {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  span.special {
    color: $primaryColor;
  }
}
.navbar-collapse {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto;
    .nav-item {
      margin: 0 15px;
      &.active {
        a.nav-link {
          color: $primaryColor2;
        }
      }
      a.nav-link {
        color: #fff;
        padding: 12px 8px;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        transition: $setTransition;
        &:hover {
          color: $primaryColor2;
        }
      }
    }
  }
}
