section#portfolio {
  background: $primaryBgColor;
  background-image: url("@/assets/images/texture-bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @include medium {
    padding: 120px 0;
  }
  @include small {
    padding: 120px 0;
  }
  @include extraSmall {
    padding: 80px 0;
  }
}

:deep(.el-tabs--card) {
  .el-tabs__content {
    min-height: 300px;
    padding: 15px;
    @include extraSmall {
      padding: 15px 0;
    }
  }
  .el-tabs__header {
    height: auto;
    border-bottom: none;
    margin-bottom: 30px;
    @include medium {
      margin-bottom: 15px;
    }
    @include small {
      margin-bottom: 0px;
    }
    @include extraSmall {
      margin-bottom: 0px;
    }
    .el-tabs__nav {
      float: none;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      border: none;
      @include medium {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      @include small {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      @include extraSmall {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
    .el-tabs__item {
      height: 46px;
      color: $primaryTextColor2;
      padding: 12px 45px;
      border: 1px solid $borderColor;
      border-radius: 25px;
      background: rgba(0, 0, 0, 0.15);
      margin: 0 10px;
      transition: $setTransition;
      @include large {
        padding: 12px 35px;
        margin: 0 8px;
      }
      @include medium {
        width: 46%;
        height: 55px;
        border-radius: 30px;
        margin-bottom: 20px;
      }
      @include small {
        width: 46%;
        height: 55px;
        border-radius: 30px;
        margin-bottom: 20px;
      }
      @include extraSmall {
        width: 100%;
        height: 55px;
        border-radius: 30px;
        margin: 0 0 12px;
      }
      &:nth-child(2) {
        padding-left: 45px;
        @include large {
          padding-right: 35px;
        }
      }
      &:last-child {
        padding-right: 45px;
        @include large {
          padding-right: 35px;
        }
      }
      &:hover {
        color: $primaryColor;
        border: 1px solid $primaryColor;
      }
      &.is-active {
        cursor: default;
        pointer-events: none;
        color: #fff;
        border: 1px solid $primaryColor;
        background-color: $primaryColor;
      }
      span.item-title {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        @include small {
          font-size: 16px;
        }
        @include extraSmall {
          font-size: 16px;
        }
      }
    }
  }
  .el-tabs__nav {
    border: 1px solid $borderColor;
  }
}
