.portfolio-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .card-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 8px 12px;
    overflow: hidden;
    // border: 1px solid darken($borderColor, 10%)a.btn
    animation: scale-zoom-in 0.3s;
    transition: $setTransition;
    &:hover {
      .overlay {
        opacity: 1;
      }
      .caption .container > a {
        transform: scale(1);
        opacity: 1;
      }
      .caption > h4.title {
        letter-spacing: 0;
        opacity: 1;
      }
      .caption > p.category {
        transform: translateY(0);
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $setTransition;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 105%;
      width: 105%;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(3px);
      opacity: 0;
      transition: $setTransition;
    }
    .caption {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      backface-visibility: hidden;
      h4.title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
        color: #fff;
        margin-top: 15px;
        letter-spacing: -8px;
        transition: $setTransition;
        opacity: 0;
      }
      p.category {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        padding: 5px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        transform: translateY(70px);
        transition: $setTransition;
        opacity: 0;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 155px;
        a {
          color: #0d1218;
          background-color: rgba(255, 255, 255, 0.8);
          height: 45px;
          width: 45px;
          // line-height: 45px;
          text-align: center;
          margin: 4px;
          border-radius: 100%;
          transition: $setTransition;
          transform: scale(0);
          opacity: 0;
          position: relative;
          &:hover {
            color: #fff;
            background: $primaryColor;
          }
          &:first-child {
            margin-right: 6px;
          }
          &:last-child {
            margin-left: 6px;
          }
          span.iconify {
            position: absolute;
            top: 49%;
            left: 49%;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            // vertical-align: sub;
            &.i-fa6-solid\:link {
              top: 49%;
              left: 49%;
              transform: translate(-50%, -50%) rotate(90deg);
              width: 18px;
              height: 18px;
              // transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
  // dialog
  :deep(.el-dialog) {
    text-align: left;
    padding: 30px 30px 45px 20px;
    background: #25292e;
    .el-dialog__headerbtn {
      top: 5px;
      &:hover {
        .el-dialog__close {
          color: $primaryColor;
        }
      }
      .el-dialog__close {
        font-size: 22px;
      }
    }
    .info {
      font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
      h3 {
        font-size: 26px;
        font-weight: 600;
        color: #fff;
        padding: 5px 0 15px;
        border-bottom: 1px solid #5a5a5a;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        opacity: 0.8;
        padding: 10px 0 30px;
      }
      span.category {
        color: $primaryTextColor2;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        padding: 5px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        margin-top: 10px;
        padding: 0;
      }
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 50px;
        li {
          border-radius: 4px;
          margin-right: 10px;
          margin-bottom: 10px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          &:last-child {
            margin-right: 0;
          }
          span {
            border: 1px solid $primaryColor;
            padding: 4px 10px;
            border-radius: 4px;
            color: #fff;
            font-size: 13px;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
      a.btn {
        width: 170px;
        font-size: 14px;
        padding: 15px 25px;
        height: 45px;
        line-height: 45px;
        &.disabled {
          pointer-events: none;
          opacity: 0.3;
          border: 1px solid #626262;
          background: #626262;
        }
        span.iconify {
          width: 17px;
          height: 17px;
        }
      }
    }
    .col-lg-7 {
      .swiper {
        .swiper-pagination-bullet {
          background: #fff;
        }
        .swiper-pagination-bullet-active {
          background: $primaryColor;
        }
        .swiper-button-prev {
          color: $primaryColor;
          &::after {
            font-size: 34px;
          }
        }
        .swiper-button-next {
          color: $primaryColor;
          &::after {
            font-size: 34px;
          }
        }
      }
    }
  }
}
