section#portfolio {
  background: $primaryBgColor;
  background-image: url("@/assets/images/texture-bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @include medium {
    padding: 120px 0;
  }
  @include small {
    padding: 120px 0;
  }
  @include extraSmall {
    padding: 80px 0;
  }
}

:deep(.el-tabs) {
  padding-top: 25px;
  .el-tabs__content {
    min-height: 300px;
    padding: 15px;
    @include extraSmall {
      padding: 15px 0;
    }
  }
  .el-tabs__header {
    height: auto;
    border-bottom: none;
    // margin-bottom: 30px;
    position: sticky;
    top: 70px;
    @include medium {
      top: 90px;
      margin-bottom: 15px;
    }
    @include small {
      position: relative;
      top: 0;
      margin-bottom: 0px;
    }
    @include extraSmall {
      position: relative;
      top: 0;
      margin-bottom: 0px;
    }
    .el-tabs__nav {
      float: none;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      border: none;
      @include medium {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      @include small {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      @include extraSmall {
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
    .el-tabs__item {
      height: 46px;
      color: $primaryTextColor2;
      padding: 12px 60px;
      border: 1px solid $borderColor;
      border-radius: 25px;
      background: rgba(20, 25, 32, 1);
      backdrop-filter: blur(4px);
      margin: 0 10px;
      overflow: hidden;
      box-shadow: 0 0 10px 0px #0b0d10;
      transition: $setTransition;
      @include medium {
        width: 46%;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 15px;
      }
      @include small {
        width: 46%;
        height: 50px;
        border-radius: 30px;
        margin: 0 0 10px;
      }
      @include extraSmall {
        width: 98%;
        height: 55px;
        border-radius: 30px;
        margin: 0 0 10px;
      }
      &:nth-child(2) {
        padding-left: 60px;
      }
      &:last-child {
        padding-right: 60px;
      }
      &:hover {
        color: $primaryColor;
        border: 1px solid $primaryColor;
      }
      &.is-active {
        cursor: default;
        pointer-events: none;
        color: #fff;
        border: 1px solid darken($primaryColor, 5%);
        background-color: darken($primaryColor, 5%);
        backdrop-filter: blur(4px);
        span.count {
          color: lighten($primaryColor, 10%);
        }
      }
      span.item-title {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        z-index: 1;
        @include small {
          font-size: 16px;
        }
        @include extraSmall {
          font-size: 16px;
        }
      }
      span.count {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        color: $borderColor;
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translateY(-50%);
        z-index: 0;
        opacity: 0.6;
        transition: $setTransition;
        @include medium {
          font-size: 42px;
          right: 14px;
        }
        @include small {
          font-size: 42px;
          right: 2px;
        }
        @include extraSmall {
          font-size: 12vmin;
          right: 5%;
        }
      }
    }
  }
  .el-tabs__nav {
    border: 1px solid $borderColor;
  }
}
