section#resume {
  background: #242529;
  .category {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-left: 80px;
    margin-bottom: 30px;
    text-align: left;
    span.iconify {
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
      color: $primaryTextColor2;
    }
    h5 {
      position: relative;
      display: inline-block;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      text-align: left;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -5px;
        left: 0;
        background: rgba(255, 255, 255, 0.1);
      }
      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 1px;
        bottom: -5px;
        left: 0;
        background: $primaryColor;
      }
    }
  }
  .list {
    margin-left: 80px;
    .item {
      padding: 30px 0 40px 90px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      z-index: 0;
      // height: 230px;
      &:last-child {
        padding: 30px 0 0px 90px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 6px;
        height: 100%;
        border: 1px dashed #44454b;
      }
      span.ripple {
        display: inline-block;
        position: absolute;
        top: 36px;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: $primaryColor;
        border-radius: 100%;
        z-index: 0;
        &::before {
          background-color: $primaryColor2;
          border-radius: 100%;
          margin: -20px;
          bottom: 0px;
          content: "";
          display: block;
          left: 0px;
          opacity: 0;
          position: absolute;
          right: 0px;
          top: 0px;
          z-index: -1;
          animation: ripple 1.8s infinite;
          animation-delay: 0.4s;
        }
        &::after {
          background-color: $primaryColor2;
          border-radius: 100%;
          margin: -20px;
          bottom: 0px;
          content: "";
          display: block;
          left: 0px;
          opacity: 0;
          position: absolute;
          right: 0px;
          top: 0px;
          z-index: -1;
          animation: ripple 1.8s infinite;
          animation-delay: 1s;
        }
      }
      h2.exp-time,
      h2.edu-time {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.6;
        color: $primaryColor2;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", sans-serif;
      }
      h3.exp-title,
      h3.edu-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: #fff;
        margin-bottom: 5px;
      }
      h4.company,
      h4.school {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        color: darken(#fff, 20%);
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $primaryTextColor2;
        text-align: left;
      }
      span.iconify {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }
}
