section#skills {
  background: $primaryBgColor2;
  position: relative;
  z-index: 0;
  .skill-item {
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 16px;
    margin-bottom: 30px;
    height: 395px;
    border: 1px solid $borderColor;
    transition: $setTransition;
    &:hover {
      border: 1px solid $primaryColor;
      // transform: translate(0, -5px);
      .skill-name {
        // -webkit-text-stroke-width: 1px;
        // -webkit-text-stroke-color: $primaryColor;
        // color: transparent;
        color: #fff;
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
      .skill-icon span.iconify {
        filter: saturate(100%) grayscale(0%);
        opacity: 1;
      }
      ul li {
        color: #fff;
      }
    }
    .skill-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      span.iconify {
        width: 50px;
        height: 50px;
        filter: saturate(0%) grayscale(100%);
        opacity: 0.5;
        margin-right: 10px;
        transition: $setTransition;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .skill-name {
      position: relative;
      margin: 20px 0;
      padding: 5px;
      font-size: 30px;
      font-weight: 600;
      font-family: "Roboto", sans-serif;
      color: $primaryColor;
      transition: $setTransition;
      &::before {
        opacity: 0;
        visibility: hidden;
        background: linear-gradient(90deg, $primaryColor, $primaryColor2) repeat
          scroll 0 0;
        content: "";
        left: -10px;
        position: absolute;
        top: 0px;
        width: 115%;
        height: 100%;
        z-index: -1;
        transition: $setTransition;
      }
    }
    ul {
      li {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        font-family: "Microsoft JhengHei", sans-serif;
        margin-bottom: 7px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $primaryTextColor2;
        transition: $setTransition;
        &:last-child {
          margin-bottom: 0;
        }
        span.iconify {
          width: 18px;
          height: 18px;
          margin-right: 5px;
          color: $primaryTextColor2;
        }
      }
    }
  }
}
