.social-position {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 202px;
  transition: all 1.5s ease;
  z-index: 2;
  @include extraSmall {
    width: 100%;
  }
  ul.social-media {
    width: 100%;
    list-style-type: none;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include medium {
      width: 185px;
    }
    @include small {
      width: 180px;
    }
    @include extraSmall {
      width: 100%;
      justify-content: space-evenly;
    }
  }
  li.icon {
    display: inline-block;
  }
  a.circle-btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    position: relative;
    color: #ffffff;
    background-color: transparent;
    border-radius: 40px;
    opacity: 0.5;
    transition: $setTransition2;
    @include extraSmall {
      width: 55px;
      height: 55px;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      content: "";
      border-radius: 40px;
      border: 2px solid #ffffff;
      border-top-color: transparent;
      transform: rotate(45deg);
      transition: $setTransition2;
    }
    &:hover {
      opacity: 1;
      color: #ffffff;
      &::before {
        border-color: #ffffff;
        border-top-color: transparent;
        transform: rotate(-135deg);
      }
    }
    span.iconify {
      width: 26px;
      height: 26px;
      @include extraSmall {
        width: 30px;
        height: 30px;
      }
    }
  }
}
